*{
	margin: 0;
	padding: 0;
}
html{
	font-family: Oswald
}
body {
	max-width: 1170px;
	margin: 0 auto;
}
h1{
	text-align: center;
}
p{
	text-align: center;
}
table tr td{
	padding: 15px;
}
img{
	max-width:100% ;
	border: 5px solid green;
}